.Images{
    
        width: 250px;
        height: 300px;
        align-content: center;
      
}

.navbarimage{
    width: 5px;
    height: 5px;
}

.topgroup{
    padding-bottom: 20px;
}

.toplogo{
    width: 250px;
    height: 300px;
    align-content: center;
    
  
}

.tablehead{
    background-color: black;
}

.pageheading{
    margin-top: 30px;
    padding: 5px;
}

.App {
    background-color: white;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }

  .formpadding{
    padding: 5px;
  }